html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, helvetica, sans-serif;
    box-sizing: border-box;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 500px;
}

.navbar a {
    letter-spacing: 1.2px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
}

.darkHeader {
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: black;
    box-shadow: 1px 0 3px black;
}
/* End Navbar */
/* Header Title */
.header {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1508252568242-e0f383f753d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header::after {
    content: '';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header h1,
.header h5 {
    color: white;
    position: relative;
    text-transform: uppercase;
    line-height: 2px;
    z-index: 2;
}
/* End Header Title */
article img {
    width: 100%;
}

article,
.aside {
    padding: 30px;
    box-shadow: 0px 0px 5px lightgrey;
    border-radius: 20px;
    margin-bottom: 20px;
}


.aside>img {
    width: 100%;
}

footer {
    background-color: black;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
}
.hidden {
    display: none;
}
@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }

    .main {
        font-size: 12px;
        margin-top: -55px;
    }

    .content,
    aside {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    /* Navbar */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 5;
        transition: all 0.2s ease;
        opacity: 0;
    }
    .navbar ul {
        position: absolute;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding-right: 20px;
        flex-direction: column;
    }
    .navbar ul li {
        text-align: right;
        padding: 10px;

    }
    .navbar ul li a {
        opacity: 0;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    /* hamburger */
    .nav-btn {
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
        z-index: 9999;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .nav-btn i {
        width: 30px;
        height: 3px;
        background: white;
        display: block;
        margin-top: 5px;
        border-radius: 20px;
    }
    #nav:checked~.navbar {
        opacity: 1;
    }
    #nav:checked~.nav-btn i {
        background: black;
    }
    #nav:checked~.navbar ul li a {
        opacity: 1;
        transform: translateX(0);
    }
    .header {
        font-size: 12px;
    }
    .content, aside {
        width: 87%;
    }
    aside {
        float: none;
        clear: both;
        margin: 0;
    }
}