html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, helvetica, sans-serif;
    box-sizing: border-box;
}

    /* border: 1px solid red; */

.header {
    top: 0;
    z-index: 3;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.darkHeader {
    box-shadow: 2px 0 5px black;
    background-color: black;

}

li {
    list-style: none;
    padding: 0 10px;
}

a {
    color: white;
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
}

main {
    overflow: auto;
    margin-top: 20px;
}

.content {
    float: left;
    width: 70%;
    margin-left: 20px;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1508252568242-e0f383f753d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -55px;
    position: relative;
}

.main::after {
    content: '';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main h1,
.main h5 {
    color: white;
    position: relative;
    text-transform: uppercase;
    line-height: 2px;
    z-index: 2;
}

article img {
    width: 100%;
}

article,
.aside {
    padding: 30px;
    box-shadow: 0px 0px 5px lightgrey;
    border-radius: 20px;
    margin-bottom: 20px;
}

aside {
    float: right;
    width: 25%;
    margin-right: 20px;
}

.aside>img {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
}

@media screen and (min-width: 700px) {
    nav {
        justify-content: center;
    }

    .main {
        font-size: 12px;
        margin-top: -55px;
    }

    .content,
    aside {
        width: 87%;
    }

    aside {
        float: none;
        clear: right;
        /* margin: 0 0 0 50px; */
        margin-top: 10px;
        border: 1px solid black;
    }

}

/* @media screen and (max-width: 500px) {
    a:not(:last-child) {
        margin-right: 20px;
    }
    .content, aside {
        width: 87%;
    }
    aside {
        float: none;
        clear: both;
        margin: 0;
        border: 1px solid black;
    }
} */